<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="com.starterkit.todo.rcp.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="MyPerspective"
            class="com.starterkit.todo.rcp.MyPerspective"
            id="com.starterkit.todo.rcp.myperspective">
      </perspective>
      <perspective
            class="com.starterkit.todo.rcp.PerspectiveFactory1"
            id="com.starterkit.todo.rcp.perspective1"
            name="perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            name="AllTasks"
            class="com.starterkit.todo.rcp.AllTasks"
            id="com.starterkit.todo.rcp.AllTasks">
      </view>
      <view
            class="com.starterkit.todo.rcp.CurrentTasks"
            id="com.starterkit.todo.rcp.currentTasks"
            name="CurrentTasks"
            restorable="true">
      </view>
      <view
            class="com.starterkit.todo.rcp.Archive"
            id="com.starterkit.todo.rcp.testy"
            name="Archive"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:com.starterkit.todo.rcp.AllTasks">
         <command
               commandId="com.starterkit.todo.rcp.ToArchive"
               label="move to archive"
               style="push">
         </command>
         <command
               commandId="com.starterkit.todo.rcp.deleteTask"
               label="delete task"
               style="push">
         </command>
         <command
               commandId="com.starterkit.todo.rcp.setDone"
               label="setDone"
               style="push">
         </command>
         <command
               commandId="com.starterkit.todo.rcp.openTaskEditor"
               label="Edit"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="toolbar:org.eclipse.ui.main.toolbar">
            <command
                  commandId="org.eclipse.ui.file.save"
                  label="Save"
                  style="push">
            </command>
         </toolbar>
         <menu
               label="File">
            <command
                  commandId="org.eclipse.ui.file.exit"
                  label="Exit">
            </command>
         </menu>
      </menuContribution>
  
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.starterkit.todo.rcp.TaskEditor"
            default="false"
            id="com.starterkit.todo.rcp.taskEditor"
            name="Task Editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="com.starterkit.todo.CallEditor"
            id="com.starterkit.todo.rcp.openTaskEditor"
            name="Open Task Editor">
      </command>
      <command
            id="org.eclipse.ui.file.save"
            name="save">
      </command>
      <command
            id="com.starterkit.todo.rcp.ToArchive"
            name="ToArchive">
      </command>
      <command
            id="com.starterkit.todo.rcp.deleteTask"
            name="delete task">
      </command>
      <command
            id="com.starterkit.todo.rcp.setDone"
            name="SetDone">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.starterkit.todo.rcp.handler.CallEditor"
            commandId="com.starterkit.todo.rcp.CallEditor">
      </handler>
      <handler
            commandId="org.eclipse.ui.file.save">
      </handler>
      <handler
            class="com.starterkit.todo.rcp.handler.ToArchive"
            commandId="com.starterkit.todo.rcp.ToArchive">
      </handler>
      <handler
            class="com.starterkit.todo.rcp.handler.DeleteTask"
            commandId="com.starterkit.todo.rcp.deleteTask">
      </handler>
      <handler
            class="com.starterkit.todo.rcp.handler.SetDone"
            commandId="com.starterkit.todo.rcp.setDone">
      </handler>
   </extension>

</plugin>
